body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
  }
  
  #main-page {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  
  li {
    margin:0 0 10px 0;  
  }
  
  #single-school {
    display: flex;
    flex-direction: column;
  }

  #single-student {
    display: flex;
    flex-direction: column;
  }
  

  .button {
    display: flex;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 105px;
    text-align: center;
    line-height: 20px;
    border: 2px solid black;
  }

  .button-delete {
    display: flex;
    background-color: rgb(248, 142, 3);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 105px;
    text-align: center;
    line-height: 20px;
  }
  
  #navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid black
  }
  
  .button-nav {
    background-color: white;
    width: 80px;
    margin: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
  }
  
  #footer {
    background-color: white;
    height:50px; 
    width: 100%;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    border: 2px solid black;
    box-sizing: border-box;
  }   
  
  #createForm {
    padding: 10px;
  }